body {
    height: 100%;
    background-color: #7a7aff;
    color: white;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.memory-game {
    width: 440px;
    height: 330px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: 100px;
    height: 100px;
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: all 0.5s linear;  
    cursor: pointer;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;

}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front, .back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}

#restart-btn {
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    padding: 8px;
    font-size: medium;
    cursor: pointer;
}

#restart-btn:active {
    transform: scale(0.97);
    transition: transform .2s;
}